<div class="footer">
    <div class="inside" onclick="switchPage('home')">
      <i class="fa fa-home"></i>
    </div>
    <div class="inside" onclick="switchPage('location'); handleMapLoad();">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="center-icon">
      <img src="/media/siren.png" alt="siren" />
    </div>
    <div class="inside" onclick="switchPage('bot')">
      <i class="fa-solid fa-robot"></i>
    </div>
    <div class="inside" onclick="switchPage('menu')">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
  